{% load model_fields %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fields</title>
</head>
<body>
    <form action="post">
        <input type="hidden" name="app_name" value="{{ app_name }}"/>
        <input type="hidden" name="model_name" value="{{ model_name }}"/>
        {% for field in fields %}
            field: {{ field }} <br>
            name: {{ field.name }}<br>
        {% endfor %}<br>
    </form>
</body>
</html>