{% load model_fields static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Models</title>
</head>
<body>
    current app name: {{ app_name }}<br>
    destination app name: <input type="text" id="dest_appname" /><br>
    <hr>
    {% for name, model in models %}
        <a href="{% url 'migdb:fields_list' %}?app_name={{ app_name }}&model_name={{ name }}">{{ name }}</a><br>
    {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;current model: {{ name }} <br>
    &nbsp;&nbsp;&nbsp;&nbsp;new model: <input type="text" id="{{ name }}_new_model" /><br>
    &nbsp;&nbsp;&nbsp;&nbsp;fields:<br> {% endcomment %}
    {% endfor %}
</body>
</html>
