{% load model_fields %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Models</title>
</head>
<body>
    {% for name, model in models %}
        {{ name }} <br>
        fields:<br>
        {% for field in model|model_fields %}
            fields: {{ field }} <br>
            name: {{ field.name }}<br>
        {% endfor %}<br>
    {% endfor %}
</body>
</html>
