{% load model_fields static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Models</title>
</head>
<body>
    current app name: {{ app_name }}<br>
    destination app name: <input name="dest_appname" value="{{ app_name }}" onkeyup='update_url(this)' type="text" id="dest_appname" /><br>
    <hr>
    {% for name, model in models %}
        <a onclick='submit_url("{{ name }}")' href="#">{{ name }}</a><br>
    {% endfor %}

    <script>
            var url = "{% url 'migdb:fields_list' %}?app_name={{ app_name }}";
            var new_app_name = "{{ app_name }}";
            function update_url(input_value){
                new_app_name = input_value.value;
            }
            function submit_url(model_name){
                submit_url_string = window.location.protocol + "//" + window.location.host + url + "&model_name=" + model_name + "&new_app_name=" + new_app_name;
                window.open(submit_url_string, '_parent');
            }
    </script>
</body>
</html>
